{% extends 'core/base.html' %}

{% block content %}
  <div class="jumbotron jumbotron-fluid overlay">
    {% comment %} <div class="jumbo-heading">
      <!-- section-heading -->
      <div class="section-heading" data-aos="zoom-in">
        <h1>Adoption</h1>
      </div>
      <!-- /section-heading -->
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a href="index.html">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">Adoption</li>
        </ol>
      </nav>
    </div>
    <!-- /jumbo-heading --> {% endcomment %}
  </div>
  <!-- ==== Page Content ==== -->
  <div class="page">
    <div class="container block-padding pt-0">
      <div class="col-lg-8 offset-lg-2 text-center">
        <h3>Find a new furry Friend</h3>
        <p>Aliquam erat lorem ipsum volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
      </div>
      {% if rows < 4 %}
        <div class="row mt-5">
          {% for pet in pets_rows %}
            <!-- Pet -->
            <div class="adopt-card col-md-6 col-xl-3 res-margin">
              <div class="card bg-light-custom">
                <div class="thumbnail text-center">
                  <!-- Image -->
                  {% with pet.rescuePetPhoto.first as photo %}
                    <img src="{{ photo.image.url }}" class="border-irregular1 img-fluid" alt="" />
                  {% endwith %}
                  <!-- Name -->
                  <div class="caption-adoption">
                    <h6 class="adoption-header">{{ pet.name }}</h6>
                    <!-- List -->
                    <ul class="list-unstyled">
                      <li>
                        <strong>Gender:</strong> {{ pet.get_gender_display }}
                      </li>
                      <li>
                        <strong>Neutered:</strong> {% if pet.neutered %}
                          Yes
                        {% else %}
                          No
                        {% endif %}
                      </li>
                      <li>
                        <strong>Age:</strong> {{ pet.get_age_display }}
                      </li>
                    </ul>
                    <!-- Buttons -->
                    <div class="text-center">
                      <a href="{{ pet.id }}" class="btn btn-primary">More Info</a>
                    </div>
                  </div>
                </div>
                <!-- /thumbnail -->
              </div>
              <!-- /card -->
            </div>
            <!-- /adopt-card -->
          {% endfor %}
        </div>
      {% else %}
        {% for row in pets_rows %}
          <div class="row mt-5">
            {% for pet in row %}
              <!-- Pet -->
              <div class="adopt-card col-md-6 col-xl-3 res-margin">
                <div class="card bg-light-custom">
                  <div class="thumbnail text-center">
                    <!-- Image -->
                    {% with pet.rescuePetPhoto.first as photos %}
                      <img src="{{ photos.image.url }}" class="border-irregular1 img-fluid" alt="" />
                    {% endwith %}
                    <!-- Name -->
                    <div class="caption-adoption">
                      <h6 class="adoption-header">{{ pet.name }}</h6>
                      <!-- List -->
                      <ul class="list-unstyled">
                        <li>
                          <strong>Gender:</strong> {{ pet.get_gender_display }}
                        </li>
                        <li>
                          <strong>Neutered:</strong> {% if pet.neutered %}
                            Yes
                          {% else %}
                            No
                          {% endif %}
                        </li>
                        <li>
                          <strong>Age:</strong> {{ pet.get_age_display }}
                        </li>
                      </ul>
                      <!-- Buttons -->
                      <div class="text-center">
                        <a href="{% url 'detail_pet' pet.id %}" class="btn btn-primary">More Info</a>
                      </div>
                    </div>
                  </div>
                  <!-- /thumbnail -->
                </div>
                <!-- /card -->
              </div>
              <!-- /adopt-card -->
            {% endfor %}
          </div>
        {% endfor %}
      {% endif %}

      <div class="col-md-12 mt-5">
        <!-- pagination -->
        <nav aria-label="pagination">
          <ul class="pagination float-right">
            {% if page_obj.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page={{page_obj.previous_page_number}}">Previus</a>
              </li>
            {% endif %}
            {% for page in page_obj.paginator.page_range %}
            <li class="page-item">
              <a class="page-link {% if page == page_obj.number %} active{% endif %}" href="?page={{page}}">{{page}}</a>
            </li>
            {% endfor %}
            
            {% if page_obj.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a>
              </li>
            {% endif %}
          </ul>
        </nav>
        <!-- /nav -->
      </div>
      <!-- /col-md -->
    </div>
    <!-- /container -->
  </div>
  <!-- /page -->
{% endblock %}
