<!-- ==== Slider ==== -->
<div id="slider" style="width:1200px;height:800px;margin:0 auto;margin-bottom: 0px;">
    {% for banner in banners %}
    <!-- Slide 1 -->
    <div class="ls-slide" data-ls="duration:4000; transition2d:7; kenburnszoom:out; kenburnsrotate:-5; kenburnsscale:1.2;">
       <!-- bg image  -->
       <img src="{{banner.background_img.url}}" class="ls-bg" alt="" />
       <!-- text  -->
       <div class="ls-l header-wrapper" data-ls="offsetyin:150; durationin:700; delayin:200; easingin:easeOutQuint; rotatexin:20; scalexin:1.4; offsetyout:600; durationout:400; parallaxlevel:0;">
          <div class="header-text dog-elements">
             <h1>{{banner.title}}</h1>
             <!--the div below is hidden on small screens  -->
             <div class="d-none d-sm-block">
                <p class="header-p">{{banner.short_description}}</p>
                <a class="btn btn-primary " href="">{{banner.button_message}}</a>
             </div>
             <!--/d-none  -->
          </div>
          <!-- header-text  -->
       </div>
       <!-- ls-l  -->
    </div>
    <!-- ls-slide -->
    {% endfor %}
  
    <!-- ls-slide -->
 </div>
 <!-- /slider -->